.banner{
	background-image: url(../../images/food.png);
	color: white;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
	margin-top: 60px;

}


.banner h1{
	font-size: 70px;
}

.banner h2{
	font-size: 40px;
	font-weight: bolder;
	opacity: 0.9;
	margin-bottom: 40px;
	text-align: left;
}
